
.card {
    margin-bottom: 50px;
    background: #24325fff;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card-body {
    align-content: center;
    padding-left: 40em;
}
