.card {
    border-radius: 50px;
    margin-top: 10px;
    margin-left: 24em;
    height: 16em;
    background-image: url(../../assets/images/portal.png);
    background-position: center;
    font-weight: bolder;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.card-body {
    border-style: solid;
    border-color:  #97ce4c;
    border-radius: 50px;
    border-width: 1em;
}