.card {
    border-radius: 50px;
    margin-top: 10px;
    margin-left: 16em;
    height: 16em;
    background: #01b4c6;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card-body {
    border-style: solid;
    border-color:  #97ce4c;
    border-radius: 50px;
    border-width: 1em;
}